* {
  box-sizing: border-box;
}
section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
a {
  text-decoration: none;
}
.busca {
  max-width: 700px;
}
.gif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #eee;
  margin-bottom: 20px;
  border-radius: 0.25rem !important;
}
.gif img {
  width: 100%;
}
.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.margin-top {
  margin-top: 10px;
}
